button {
  border: none;
  height: 40px;
  background: #907ad6;
  color: #fff;
  font-size: 16px;
  margin: 10px 12px;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn-bg-purple-navy {
  background: #4f518c;
}

.btn-bg-space {
  background: #2c2a4a;
}
